name: Build
on:
  [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Build
      run: make build-cli && make test

    - name: Upload code coverage results
      uses: actions/upload-artifact@v1
        with:
          name: code-coverage
          path: coverage.html
