name: PR-Alert
on:
  pull_request:
    types: [opened, reopened]
jobs:

  build:
    name: Chat Bot
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump Secrets context
        env:
          GITHUB_CONTEXT: ${{ toJson(secrets) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - name: Dump strategy context
        env:
          STRATEGY_CONTEXT: ${{ toJson(strategy) }}
        run: echo "$STRATEGY_CONTEXT"
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        run: echo "$MATRIX_CONTEXT"
      - name: Send chat message
        run: |
          echo "curl -sS --output /dev/null -X POST -H 'Content-Type: application/json' \"${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}\" -d '{\"text\": \"New PR - ${{ github.event.pull_request._links.html.href }} \"}'"
          curl -sS --output /dev/null -X POST -H 'Content-Type: application/json' "${{ secrets.GOOGLE_CHAT_WEBHOOK_URL }}" -d '{"text": "New PR - ${{ github.event.pull_request._links.html.href }} "}'
